{% extends 'base.jinja2' %}

{% block about_this_site_stats %} class="active"{% endblock %}

{% block content %}
  <div class="container-fluid">
    關於本站
  </div><!-- container -->
{% endblock content %}
