<!DOCTYPE html>
<html>
<head lang="zh-Hant">
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="臺北市自由軟體數位學習資源網">
  <meta name="author" content="臺北市自由軟體數位學習資源網網站維護組">
  <title>臺北市數位學習資源網</title>
  <link href="{{ 'fosstp:static/css/bootstrap.min.css'|static_path }}" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{{ 'home'|route_path }}" class="navbar-brand">臺北市自由軟體數位學習資源網</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li{% block about_us_stats %}{% endblock %}>
              <a href="{{ 'about_us'|route_path }}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 關於我們</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li{% block login_stats %}{% endblock %}><a href="{{ 'login'|route_path }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 登入</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <hr>

  <footer class="footer">
    <p class="text-center">版權所有 &copy; 2015 臺北市政府教育局</p>
  </footer>

  <script src="{{ 'fosstp:static/js/jquery.min.js'|static_path }}"></script>
  <script src="{{ 'fosstp:static/js/bootstrap.min.js'|static_path }}"></script>
</body>
</html>
