<!DOCTYPE html>
<html>
<head lang="zh-Hant">
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="臺北市自由軟體數位學習資源網">
  <meta name="author" content="臺北市自由軟體數位學習資源網網站維護組">
  <title>臺北市自由軟體數位學習資源網</title>
  <link href="{{ 'fosstp:static/css/bootstrap.min.css'|static_path }}" rel="stylesheet">
  <link href="{{ 'fosstp:static/css/font-awesome.min.css'|static_path }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ 'fosstp:static/favicon.ico'|static_path }}">
  <link rel="bookmark" href="{{ 'fosstp:static/favicon.ico'|static_path }}">
  {% block custom_header %}{% endblock %}
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{{ 'news'|route_path }}" class="navbar-brand">臺北市自由軟體數位學習資源網</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li{% block news_stats %}{% endblock %}>
              <a href="{{ 'news'|route_path }}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 最新消息</a>
          </li>
          <li{% block about_this_site_stats %}{% endblock %}>
              <a href="{{ 'about_this_site'|route_path }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 關於本站</a>
          </li>
          <li{% block workshop_stats %}{% endblock %}>
              <a href="{{ 'workshop'|route_path }}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 研習資訊</a>
          </li>
          <li{% block planet_stats %}{% endblock %}>
              <a href="{{ 'planet'|route_path }}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> 聯播星球</a>
          </li>
          <li{% block forum_stats %}{% endblock %}>
              <a href="{{ 'forum'|route_path }}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 討論區</a>
          </li>
          <li class="dropdown{% block share_stats %}{% endblock %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>資源分享 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li{% block download_stats %}{% endblock %}>
                  <a href="{{ 'download'|route_path }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> 檔案下載</a>
              </li>
              <li{% block link_stats %}{% endblock %}>
                  <a href="{{ 'link'|route_path }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 好站連結</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if request.user %}
            <li class="dropdown{% block user_stats %}{% endblock %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ request.user }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ 'settings'|route_path }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 帳號設定</a>
                </li>
                <li>
                  <a href="{{ 'logout'|route_path }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 登出</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li{% block login_stats %}{% endblock %}><a href="{{ 'login'|route_path }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 登入</a></li>
            <li{% block signup_stats %}{% endblock %}><a href="{{ 'signup'|route_path }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 註冊</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <hr>

  <footer class="footer">
    <p class="text-center">版權所有 &copy; 2016 臺北市政府教育局</p>
  </footer>

  <script src="{{ 'fosstp:static/js/jquery.min.js'|static_path }}"></script>
  <script src="{{ 'fosstp:static/js/bootstrap.min.js'|static_path }}"></script>
</body>
</html>
