{% extends 'base.jinja2' %}

{% block forum_stats %} class="active"{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <ul class="breadcrumb">
          <li><a href="{{ request.route_path('forum') }}">討論區</a></li>
          <li class="active">{{ forum_category.name }}</li>
        </ul>
      </div>
      <div class="col-sm-offset-1 col-sm-10">
        <div class="list-group">
          {% for forum_topic in forum_category.topics %}
            <a href="{{ request.route_path('forum_topic', id=forum_topic.id) }}" class="list-group-item">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  {{ forum_topic.title }}
                </div>
                <div class="col-xs-12 col-sm-6">
                  <span class="pull-right">{{ forum_topic.user.name }} {{ forum_topic.create_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      {% if request.user %}
        <div class="col-sm-offset-1 col-sm-10 text-center">
          <a class="btn btn-primary" href="{{ request.route_path('forum_topic_add', id=forum_category.id) }}">新增討論主題</a>
        </div>
      {% endif %}
    </div>
  </div><!-- container -->
{% endblock content %}
