{% extends 'base.jinja2' %}

{% block forum_stats %} class="active"{% endblock %}

{% block content %}
  <div class="container-fluid">
    <form action="" method="post">
      {{ form.id() }}
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <ul class="breadcrumb">
            <li><a href="{{ request.route_path('forum') }}">討論區</a></li>
            <li><a href="{{ request.route_path('forum_category', id=forum_reply.topic.category_id) }}">{{ forum_reply.topic.category.name }}</a></li>
            <li><a href="{{ request.route_path('forum_topic', id=forum_reply.topic.id) }}">{{ forum_reply.topic.title }}</a></li>
          </ul>
        </div>
        {% if form.content.errors %}
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="alert alert-danger" role="alert">
              {% for error in form.content.errors %}
                {{ error }}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="form-group">
            <label for="description">內容</label>
            {{ form.content(class_='form-control', id='content', placeholder='內容') }}
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <button type="submit" class="btn btn-primary">更新回應</button>
        </div>
      </div>
    </form>
  </div><!-- container -->
{% endblock content %}
