{% extends 'base.jinja2' %}

{% block news_stats %} class="active"{% endblock %}

{% block content %}
  <div class="container-fluid">
    <form action="" method="post">
      {{ form.id() }}
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">編輯最新消息文章</h3>
          </div>
          <div class="panel-body">
            {% if form.title.errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.title.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="form-group">
              <label for="title">標題</label>
              {{ form.title(class_='form-control', id='title', placeholder='標題') }}
            </div>
            {% if form.content.errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.content.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="form-group">
              <label for="content">內容</label>
              {{ form.content(class_='form-control', id='content', placeholder='內容', rows=10) }}
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-10 text-center">
          <button type="submit" class="btn btn-primary">更新文章</button>
        </div>
      </div>
    </form>
  </div><!-- container -->
{% endblock content %}
