{% extends 'base.jinja2' %}

{% block news_stats %} class="active"{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">最新消息</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              {% for each_news in news %}
                <a href="{{ request.route_path('news_show', id=each_news.id) }}" class="list-group-item">
                  {{ each_news.title }}
                  <span class="pull-right">{{ each_news.user.name }} {{ each_news.create_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-10 text-center">
        <a class="btn btn-primary" href="{{ request.route_path('news_add') }}">新增文章</a>
      </div>
    </div>
  </div><!-- container -->
{% endblock content %}