[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
alembic = "*"
PyMySQL = "*"
pyramid = "*"
pyramid_jinja2 = "*"
pyramid_mailer = "*"
pyramid_redis_sessions = "*"
pyramid_sqlalchemy = "*"
pyramid_tm = "*"
pyramid_wtforms = "*"
bcrypt = "*"
Markdown = "*"
feedparser = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyramid_debugtoolbar = "*"
