###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:fosstp

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false

production_mode = true

auth_mode = false

# activate some useful filters of jinja2
jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    route_path = pyramid_jinja2.filters:route_path_filter
    static_path = pyramid_jinja2.filters:static_path_filter

# session settings
#
# using pyramid_redis_sessions for production
redis.sessions.secret = {{ random_string.stdout }}

# database settings
#
# Note that you need to install the real database driver
# by yourself, like mysql-connector-python.
# The url syntax can be found here: http://docs.sqlalchemy.org/en/latest/core/engines.html
sqlalchemy.url = mysql+mysqlconnector://{{ fosstp_db_user }}:{{ fosstp_db_pass }}@{{ fosstp_db_host }}/{{ fosstp_db_name }}

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, fosstp

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_fosstp]
level = WARN
handlers =
qualname = fosstp

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
